
Proyecto/imagenes/._extrapol_lineal_1
Proyecto/imagenes/._extrapol_lineal_2
Proyecto/imagenes/._extrapol_lineal_3
Proyecto/imagenes/._extrapol_spline_1
Proyecto/imagenes/._extrapol_spline_2
Proyecto/imagenes/._extrapol_spline_3
Proyecto/imagenes/._imagen_cam1
Proyecto/imagenes/._imagen_cam2
Proyecto/imagenes/._otros_1
Proyecto/imagenes/._otros_2
Proyecto/imagenes/._otros_3
Proyecto/imagenes/._otros_4
Proyecto/imagenes/._proyeccion_cam1
Proyecto/imagenes/._proyeccion_cam2
Proyecto/imagenes/._real_cam1_1
Proyecto/imagenes/._real_cam1_2
Proyecto/imagenes/._real_cam1_3
Proyecto/imagenes/._real_cam2_1
Proyecto/imagenes/._real_cam2_2
Proyecto/imagenes/._real_cam2_3
Proyecto/imagenes/._reconstruida
Proyecto/imagenes/._reconstruida_der_1
Proyecto/imagenes/._reconstruida_der_2
Proyecto/imagenes/._reconstruida_der_3
Proyecto/imagenes/._reconstruida_izq_1
Proyecto/imagenes/._reconstruida_izq_2
Proyecto/imagenes/._reconstruida_izq_3
Proyecto/imagenes/._reconstruida_izq_4
Proyecto/imagenes/._reconstruida_izq_5
Proyecto/imagenes/._reconstruida_todas
Proyecto/imagenes/._trayectoria_1
Proyecto/imagenes/._trayectoria_2
Proyecto/imagenes/._trayectoria_3
Proyecto/imagenes/._trayectoria_4
